<h2>Thank you </h2>
<h3>Please use the URL below in your Global Telecom VOIP application settings</h3>
<h3>http://api.gtephone.com/api/@ViewBag.API/GetContactByPhone/@ViewBag.CompanyName/%callerid%</h3>