<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="QBPAPIUrl" value="https://cls.qbp.com/api3"/>
    <add key="QBPAPIKey" value="b353b3b5c765ac3c7e398db1e4492a37"/>
    <!--<add key="QBPOutputFile" value="QBPOutputFile.csv"/>-->
    <add key="QBPOutputFile" value="S:\DATA\Bike report\QBPOutputFile.csv"/>
    <add key="ProductImageURL" value="https://images.qbp.com/imageservice/image/56070f7eb319/p350x350m/"/>
    <add key="LogFile" value="BikePartScraper.log"/>
  </appSettings>
</configuration>